.canvas {
    width: 100%;
    min-height: 90vh;
    background-color: black;

}
.zombie-box {
    overflow :hidden;
    width:100px;
}

.img-timer {
    position:relative;
    animation-name: movie;
    animation-duration: 0.5s;
    animation-timing-function: steps(10, jump-start);
    animation-fill-mode: forwards;
}

@keyframes movie {
    0% {
right:0px;
}
    100% {
right:1000px;        
    }
}
